<!-- bootstrap="./bootstrap.php"  -->
<phpunit
        colors="true"
        bootstrap="bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="E_ALL" />

        <!-- -->
        <includePath>../</includePath>
    </php>
    <testsuites>
        <testsuite name="Convert Test Suite">
            <directory>.</directory>
        </testsuite>
        
    </testsuites>
    <filter>
        <!-- If Zend Framework is inside your project's library, uncomment this filter -->
        <!-- 
        <whitelist>
            <directory suffix=".php">../../library/Zend</directory>
        </whitelist>
        -->
    </filter>
</phpunit>
